<section class="hero-section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 pt-3 pt-md-4">
				<h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">Credentialize your providers in under 24 hours.</h2>
				<div class="site-tagline mb-3">Quit spending 3 months to credentialize your physicians. We'll walk you through the simple process in under 24 hours and notify you when your providers need to be credentialized again next year.</div>
				<div class="cta-btns">
					<div class="mb-4"><a class="btn btn-primary font-weight-bold theme-btn" [routerLink]="['demo']">Let's Begin</a></div>
					<!-- <ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
						<li class="list-inline-item mr-3"><a href="#"><img class="ios" src="/assets/appstore-apple.svg" alt="app-store"></a></li>
						<li class="list-inline-item"><a href="#"><img class="android" src="/assets/appstore-android.svg" alt="google play"></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-12 col-md-6 pt-3 pt-md-4 hero-image-container">
				<img class="hero-image" src="/assets/hero-figure.png" alt="" />
			</div>
		</div>
	</div>
</section>

<section class="logos-section theme-bg-primary py-5 text-center">
	<div class="container">
		<h3 class="mb-5">We're integrated with:</h3>
		<div class="logos-row row mx-auto">
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/bcbs.png" alt="BlueCross BlueShield">
				</div>
			</div>
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/cigna.png" alt="Cigna">
				</div>
			</div>
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/aetna.png" alt="Aetna">
				</div>
			</div>
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/uhc.png" alt="UHC">
				</div>
			</div>
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/neighborhood.png" alt="Neighborhood Health Plan">
				</div>
			</div>
			<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
				<div class="item-inner">
					<img src="/assets/logos/humana.png" alt="Humana">
				</div>
			</div>

		</div>

	</div>
</section>

<!-- <section class="benefits-section py-5">

	<div class="container py-lg-5">
		<h3 class="mb-5 text-center font-weight-bold">Market your mobile app effectively with Nova</h3>
		<div class="row">
			<div class="item col-12 col-lg-4">
				<div class="item-inner text-center p-3 p-lg-5">
					<img class="mb-3" src="/assets/icon-target.svg" alt="" />
					<h5>Focused on UX</h5>
					<div>Use this area to list your app's key benefits. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </div>
				</div>
			</div>
			<div class="item col-12 col-lg-4">
				<div class="item-inner text-center p-3 p-lg-5">
					<img class="mb-3" src="/assets/icon-rocket.svg" alt="" />
					<h5>Convert Users</h5>
					<div>Use this area to list your app's key benefits. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </div>
				</div>
			</div>
			<div class="item col-12 col-lg-4">
				<div class="item-inner text-center p-3 p-lg-5">
					<img class="mb-3" src="/assets/icon-cogs.svg" alt="" />
					<h5>Easy Customisations</h5>
					<div>Use this area to list your app's key benefits. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </div>
				</div>
			</div>
		</div>
		<div class="pt-3 text-center">
			<a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold" href="https://themes.3rdwavemedia.com/bootstrap-templates/free/nova-bootstrap-landing-page-template-for-mobile-apps/">Learn More</a>
		</div>
	</div>

</section>

<section class="features-section py-5">
	<div class="container py-lg-5">
		<h3 class="mb-3 text-center font-weight-bold section-heading">Feature Highlights</h3>
		<div class="row pt-5 mb-5">

			<div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-none d-md-block">
				<img class="product-figure product-figure-1 img-fluid" src="/assets/product-figure-1.png" alt="" />
			</div>

			<div class="col-12 col-md-6 col-xl-5 pr-xl-3 pt-md-3">
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="far fa-chart-bar mr-2 mr-lg-3 text-primary fa-lg fa-fw"></i>Feature Lorem Ipsum</h5>
						<p class="card-text">List one of your product's main features here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.  </p>
						<a href="#" >Learn more <span class="more-arrow">&rarr;</span></a>
					</div>
				</div>

				<div class="card rounded border-0 shadow-lg mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="fas fa-laptop-code mr-2 mr-lg-3 text-primary fa-lg fa-fw"></i>Feature Consectetuer</h5>
						<p class="card-text">List one of your product's main features here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Nulla consequat massa quis enim.</p>
						<a href="#" >Learn more <span class="more-arrow">&rarr;</span></a>
					</div>
				</div>
				<div class="card rounded border-0 shadow-lg">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="far fa-calendar-alt mr-2 mr-lg-3 text-primary fa-lg fa-fw"></i>Feature Lorem Ipsum</h5>
						<p class="card-text">List one of your product's main features here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						<a href="#" >Learn more <span class="more-arrow">&rarr;</span></a>
					</div>
				</div>
			</div>


		</div>

		<div class="row">
			<div class="col-12 col-md-6 col-xl-5 order-md-2 pr-xl-3 d-none d-md-block">
				<img class="product-figure product-figure-2 img-fluid" src="/assets/product-figure-2.png" alt="" />
			</div>
			<div class="col-12 col-md-6 col-xl-5 order-md-1 offset-xl-1 pt-xl-5">
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="fas fa-microphone-alt mr-2 mr-lg-3 text-primary fa-lg fa-fw"></i>Feature Commodo</h5>
						<p class="card-text">List one of your product's main features here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
						<a href="#" >Learn more <span class="more-arrow">&rarr;</span></a>
					</div>
				</div>

				<div class="card rounded border-0 shadow-lg">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="far fa-comments mr-2 mr-lg-3 text-primary fa-lg fa-fw"></i>Feature  Ligula Eget</h5>
						<p class="card-text">List one of your product's main features here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						<a href="#" >Learn more <span class="more-arrow">&rarr;</span></a>
					</div>
				</div>
			</div>

		</div>

		<div class="pt-5 text-center">
			<a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold" href="#">View all features</a>
		</div>
	</div>

</section>

<section class="cta-section py-5 theme-bg-secondary text-center">
	<div class="container">
		<h3 class="text-white font-weight-bold mb-3">Ready to turn your visitors to app users?</h3>
		<div class="text-white mx-auto single-col-max-width section-intro">Try Nova Free Today. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</div>
		<a class="btn theme-btn theme-btn-ghost theme-btn-on-bg mt-4" href="https://themes.3rdwavemedia.com/bootstrap-templates/free/nova-bootstrap-landing-page-template-for-mobile-apps/">Download  Now - It's FREE</a>
	</div>
</section>


<section id="quote" class="testimonial-section py-5">
	<div class="container py-lg-5">
		<h3 class="mb-1 mb-md-5 text-center">Loved by thousands of app developers like you</h3>

		<div id="flipster-carousel" class="flipster-carousel pt-md-3">
			<div class="flip-items pb-5">
				<div class="flip-item text-center text-md-left">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Amazing App!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media flex-column flex-md-row">
							<img class="source-profile rounded-circle mr-md-3 mx-auto mx-md-0" src="/assets/users/user-1.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Tony Carter</div>
								<div>London, UK</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Marvellous!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media ">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-2.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Helen Owens</div>
								<div>New York, US</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Actually Impressive!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-3.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Scott Rivera</div>
								<div>Florida, US</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Total Game Changer!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-4.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Charles Brewer</div>
								<div>San Francisco, US</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Just Perfect!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-5.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Deborah Reed</div>
								<div>Paris, France</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Great App!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-6.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Tony Cheng</div>
								<div>San Francisco, US</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flip-item">
					<div class="item-inner shadow-lg rounded">
						<h5 class="mb-2">Exceptional!</h5>
						<div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
						<div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
						<div class="source media">
							<img class="source-profile rounded-circle mr-3" src="/assets/users/user-7.jpg" alt="" />
							<div class="source-info media-body pt-3">
								<div>Kimberly Wells</div>
								<div>London, UK</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="pt-5 text-center">
				<a class="btn btn-primary theme-btn font-weight-bold" href="https://themes.3rdwavemedia.com/bootstrap-templates/free/nova-bootstrap-landing-page-template-for-mobile-apps/">Try Nova Now</a>
			</div>

		</div>
	</div>

</section> -->
